@section scripts {
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Client/Scripts/blogInfo.js"></script>
    <script src="~/Client/Scripts/postService.js"></script>    
    <script src="~/Client/Scripts/PostController.js"></script> 
    <script src="~/Client/Scripts/PostDetailsController.js"></script>  
    <script src="~/Client/Scripts/PostEditController.js"></script>  
}

<div ng-app="blogInfo">
    <ng-view></ng-view>
</div>